<html xmlns="http://www.w3.org/1999/xhtml">
    <title>Base Project</title>
<head>
		<!-- RESPONSIVE theme -->
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		<!-- Optional theme -->
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <style type="text/css" rel="stylesheet">
            #hunted {width:300}
			#voltado {width:450}
        </style>
		<style type='text/css'>
		.div1 {
		position: absolute;
		width: 350px;
		height: 300px;
		top: 50%;
		left: 50%;
		margin-left: -175px;
		margin-top: -150px;
		}
		</style>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>LOGIN</title>
</head>
<body>

    <div class="navbar navbar-inverse navbar-static-top" role="navigation" align="center">
      <div class="container"align="center">
        <div class="navbar-header" align="center">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"></div></div></div>
		  <center><h1>BASE PROJECT</h1></center>
		  <div class="div1">
			<form method="post"  align="center" action="/login/process">
			<br><br><center><input type="hidden" name="verifica" value="verifica"></center>
			<h3>LOGIN | PASSWORD</h3>
           <center><input id="hunted" type="text" name="username" maxlength="50" class="form-control"  size="20px" id="Text0" placeholder="admin"/></center>
           <center><input id="hunted" type="password"  name="password" maxlength="50" class="form-control" placeholder="123456"><br/></center>
            <input type="submit" value="LOGIN" class="btn btn-default"/>
        </form>
		</div>

<!-- FOOTER -->
    <nav class="navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
            <p class="text-muted credit"><center><font color='#ffffff'>Developed by Italo Tavares</center></a></p>
        </div>
    </nav>
	</div>
</body>
</html>
